{% extends "base.html" %}
{% block header %}

{% endblock header %}
{% block contents %}
<div class="fieldWrapper">
    {{ form.subject.errors }}
    {{ form.subject.label_tag }}
    {{ form.subject }}
</div>
<div class="row mt-5">
  <div class="col-12 text-center">
    <h3>신청일시<br></h3> 
    <h5>{{date}}<br>{{time}}교시</h5>
    <h3>컴퓨터{{roomNo}}실 </h3>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    {{ error }}
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <form method="POST" action=".">
      {% csrf_token %} 
      {% for field in form.hidden_fields%}
      {{ field }}
      {% endfor %}
      {% for field in form.visible_fields %}
      <div class="form-group">
        
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% ifequal field.label '학년' %} 
        {{ field }} 
        {% else %}
        <input
          type="{{ field.field.widget.input_type }}"
          class="form-control"
          id="{{ field.id_for_label }}"
          placeholder="{{ field.label }}"
          name="{{ field.name }}"
        />
        {% endifequal %}
        
      </div>
      {% if field.errors %}
      <span style="color: red;">{{ field.errors }}</span>
      {% endif %} {% endfor %}
      <button type="submit" class="btn btn-primary">등록</button>
    </form>
  </div>
</div>
<script>
  var date = document.getElementById('{{ form.date.id_for_label}}')
  var time = document.getElementById('{{ form.time.id_for_label}}')
  var roomNo = document.getElementById('{{ form.roomNo.id_for_label}}')
  var school = document.getElementById('{{ form.school.id_for_label}}')
  date.value = '{{date}}'
  time.value = {{time}}
  roomNo.value = {{roomNo}}
  
  console.log(school)
  console.log(date.value)
  console.log(time.value)
  console.log(roomNo.value)
</script>
{% endblock contents %}