{% extends "base.html" %}
{% block header %}

{% endblock header %}
{% block contents %}
<div class="fieldWrapper">
    {{ form.subject.errors }}
    {{ form.subject.label_tag }}
    {{ form.subject }}
</div>
<div class="row mt-5">
  <div class="col-12 text-center">
    <h3>신청일시<br></h3> 
    <h5>{{year}}/{{month}}/{{day}}<br>{{time}}교시</h5>
    <h3>컴퓨터{{roomNo}}실 </h3>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    {{ error }}
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <form method="POST" action=".">
      {% csrf_token %} 
      {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        
        {{ field }}
        
      </div>
      {% if field.errors %}
      <span style="color: red;">{{ field.errors }}</span>
      {% endif %} {% endfor %}
      <button type="submit" class="btn btn-primary">등록</button>
    </form>
  </div>
</div>
{% endblock contents %}