{% extends "base.html" %}
 
{% block title %}
  고정/반복 시간 관리 | {{ block.super }}
{% endblock title %}
{% block header %}

{% endblock header %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %} 
{% block contents %}

  
  
  
<div class="row mt-5">
  <div class="col-12 text-center">
    <h1>고정시간 등록</h1>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    {{ error }}
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
  <ul>
  <li>방과후(화요일 6교시)처럼 고정된 시간을 등록합니다.</li>
  
  
  </ul>
  </div></div>
  <div class="row mt-5">
  <div class="col-12">
    <form method="POST" action=".">
    {{form.media}}
      {% csrf_token %} {% for field in form %}
      <div class="form-group">
        
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.label == '교실' or field.label == '요일' or field.label == '시간' %} 
        {{ field }} 
        
        {% elif field.label == '시작일' or field.label == '종료일' %}
        {{ field }}
        {% else %}
        
        <input
          type="{{ field.field.widget.input_type }}"
          class="form-control"
          id="{{ field.id_for_label }}"
          placeholder="{{ field.label }}"
          name="{{ field.name }}"
        />
        
        {% endif %}
      </div>
      {% if field.errors %}
      <span style="color: red;">{{ field.errors }}</span>
      {% endif %} {% endfor %}
      <button type="submit" class="btn btn-primary">등록</button>
    </form>
  </div>
</div>
{% endblock contents %}