{% extends "base.html" %} {% block title %} {{school}} - {{ block.super }}
 {% endblock title %} {% block header %}

<script>
  $(function() {
    $('[data-toggle="popover"]').popover();
  });
</script>
<style>
  .btn.booked {
    opacity: 0.65;
    color: #fff;
  }
</style>
{% if school_id %}
<script>
  window.onload = function() {
    var button = document.getElementById("clickButton");
    button.form.submit();
  };
</script>
{% endif %} {% endblock header %} {% block contents %}
<div class="row mt-5">
  <div class="col-12 text-center">
    <h1>{{school|slice:":-3"}} <small>{{comroom.name}}</small></h1>
  </div>
</div>
<div class="row">
  <div class='col-12 text-center'>
    <p class="text-muted">
      {{comroom.caption|default:""}}
    </p>
  </div>
  
</div>
<div class="row">
  <div class="col-4 text-center">
    {% ifequal month 1 %}
    <a
      href="/comroom/{{roomNo}}/{{year|add:-1}}-12"
      class="btn btn-outline-secondary"
      role="button"
      >이전 달</a
    >
    {% else %}  
    <a
      href="/comroom/{{roomNo}}/{{year}}-{{month|add:-1}}"
      class="btn btn-outline-secondary"
      role="button"
      >이전 달</a
    >
    {% endifequal %}
    
  </div>
  <div class="col-4 text-center">
    <div class="dropdown">
      <button
        class="btn btn-info dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        컴퓨터실
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for room in roomset %}
        <a class="dropdown-item" href="/comroom/{{forloop.counter}}/{{year}}-{{month}}"
          >{{room.name}}</a
        >
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-4 text-center">
  {% ifequal month 12 %}
  <a
      href="/comroom/{{roomNo}}/{{year|add:1}}-1"
      class="btn btn-outline-primary"
      role="button"
      >다음 달</a
    >
  
  {% else %}
  <a
      href="/comroom/{{roomNo}}/{{year}}-{{month|add:1}}"
      class="btn btn-outline-primary"
      role="button"
      >다음 달</a
    >
  {% endifequal %}
    
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    {{ timetable }}
    <!-- school id가 있을때만 실행 -->
    {% if school_id %}
    <form id="myform" method="post" action="{% url 'timetable' roomNo date %}">
      {% csrf_token %}
      <input type="hidden" name="flag" value="{{ school_id }}" />

      <button id="clickButton" type="submit" style="display: none;">go</button>
    </form>
    {% endif %}
  </div>
</div>

{% endblock contents %}
