{% extends "base.html" %} {% block header %}
<script>
  window.onload = function() {
    var button = document.getElementById("clickButton");
    button.form.submit();
  };
</script>
{% endblock header %} {% block contents %}
<div class="row mt-5">
  <div class="col-12">
    {{ timetable }}
    <!-- school id가 있을때만 실행 -->
    {% if school_id %}
    <form id="myform" method="post" action="{% url 'timetable' school_id 1 %}">
      {% csrf_token %}
      <input type="hidden" name="flag" value="{{ school_id }}" />

      <button id="clickButton" type="submit" style="display: none;">go</button>
    </form>
    {% endif %}
  </div>
</div>

{% endblock contents %}
