openapi: 3.0.1
info:
  title: Comroom.net
  description: '[comroom.net](http://comroom.net)'
  termsOfService: http://swagger.io/terms/
  contact:
    email: ssamko@kakao.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Find out more about comroom.net
  url: http://comroom.net
servers:
- url: https://comroom.net
- url: http://comroom.net
tags:
- name: school
  description: Everything about your school
  externalDocs:
    description: Find out more
    url: http://swagger.io
- name: room
  description: Operations about user
  externalDocs:
    description: Find out more about our room
    url: http://swagger.io
- name: namu
  description: for slow-tree
paths:
  /school:
    put:
      tags:
      - school
      summary: Update an existing school
      operationId: updateschool
      requestBody:
        description: school object that needs to be added to the room
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/school'
          application/xml:
            schema:
              $ref: '#/components/schemas/school'
        required: true
      responses:
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: school not found
          content: {}
        405:
          description: Validation exception
          content: {}
      security:
      - schoolroom_auth:
        - write:schools
        - read:schools
      x-codegen-request-body-name: body
    post:
      tags:
      - school
      summary: Add a new school to the room
      operationId: addschool
      requestBody:
        description: school object that needs to be added to the room
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/school'
          application/xml:
            schema:
              $ref: '#/components/schemas/school'
        required: true
      responses:
        405:
          description: Invalid input
          content: {}
      security:
      - schoolroom_auth:
        - write:schools
        - read:schools
      x-codegen-request-body-name: body
  /school/findByStatus:
    get:
      tags:
      - school
      summary: Finds schools by status
      description: Multiple status values can be provided with comma separated strings
      operationId: findschoolsByStatus
      parameters:
      - name: status
        in: query
        description: Status values that need to be considered for filter
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            default: available
            enum:
            - available
            - pending
            - sold
      responses:
        200:
          description: successful operation
          content:
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/school'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/school'
        400:
          description: Invalid status value
          content: {}
      security:
      - schoolroom_auth:
        - write:schools
        - read:schools
  /school/findByTags:
    get:
      tags:
      - school
      summary: Finds schools by tags
      description: Muliple tags can be provided with comma separated strings. Use         tag1,
        tag2, tag3 for testing.
      operationId: findschoolsByTags
      parameters:
      - name: tags
        in: query
        description: Tags to filter by
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/school'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/school'
        400:
          description: Invalid tag value
          content: {}
      deprecated: true
      security:
      - schoolroom_auth:
        - write:schools
        - read:schools
  /school/{schoolId}:
    get:
      tags:
      - school
      summary: Find school by ID
      description: Returns a single school
      operationId: getschoolById
      parameters:
      - name: schoolId
        in: path
        description: ID of school to return
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/school'
            application/json:
              schema:
                $ref: '#/components/schemas/school'
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: school not found
          content: {}
      security:
      - api_key: []
    post:
      tags:
      - school
      summary: Updates a school in the room with form data
      operationId: updateschoolWithForm
      parameters:
      - name: schoolId
        in: path
        description: ID of school that needs to be updated
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Updated name of the school
                status:
                  type: string
                  description: Updated status of the school
      responses:
        405:
          description: Invalid input
          content: {}
      security:
      - schoolroom_auth:
        - write:schools
        - read:schools
    delete:
      tags:
      - school
      summary: Deletes a school
      operationId: deleteschool
      parameters:
      - name: api_key
        in: header
        schema:
          type: string
      - name: schoolId
        in: path
        description: school id to delete
        required: true
        schema:
          type: integer
          format: int64
      responses:
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: school not found
          content: {}
      security:
      - schoolroom_auth:
        - write:schools
        - read:schools
  /school/{schoolId}/uploadImage:
    post:
      tags:
      - school
      summary: uploads an image
      operationId: uploadFile
      parameters:
      - name: schoolId
        in: path
        description: ID of school to update
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                additionalMetadata:
                  type: string
                  description: Additional data to pass to server
                file:
                  type: string
                  description: file to upload
                  format: binary
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      security:
      - schoolroom_auth:
        - write:schools
        - read:schools
  /room/inventory:
    get:
      tags:
      - room
      summary: Returns school inventories by status
      description: Returns a map of status codes to quantities
      operationId: getInventory
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
                  format: int32
      security:
      - api_key: []
  /room/order:
    post:
      tags:
      - room
      summary: Place an order for a school
      operationId: placeOrder
      requestBody:
        description: order placed for purchasing the school
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Order'
        required: true
      responses:
        200:
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Order'
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        400:
          description: Invalid Order
          content: {}
      x-codegen-request-body-name: body
  /room/order/{orderId}:
    get:
      tags:
      - room
      summary: Find purchase order by ID
      description: For valid response try integer IDs with value >= 1 and <= 10.         Other
        values will generated exceptions
      operationId: getOrderById
      parameters:
      - name: orderId
        in: path
        description: ID of school that needs to be fetched
        required: true
        schema:
          maximum: 10.0
          minimum: 1.0
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Order'
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Order not found
          content: {}
    delete:
      tags:
      - room
      summary: Delete purchase order by ID
      description: For valid response try integer IDs with positive integer value.         Negative
        or non-integer values will generate API errors
      operationId: deleteOrder
      parameters:
      - name: orderId
        in: path
        description: ID of the order that needs to be deleted
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int64
      responses:
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Order not found
          content: {}
  /user:
    post:
      tags:
      - user
      summary: Create user
      description: This can only be done by the logged in user.
      operationId: createUser
      requestBody:
        description: Created user object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        default:
          description: successful operation
          content: {}
      x-codegen-request-body-name: body
  /user/createWithArray:
    post:
      tags:
      - user
      summary: Creates list of users with given input array
      operationId: createUsersWithArrayInput
      requestBody:
        description: List of user object
        content:
          '*/*':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/User'
        required: true
      responses:
        default:
          description: successful operation
          content: {}
      x-codegen-request-body-name: body
  /user/createWithList:
    post:
      tags:
      - user
      summary: Creates list of users with given input array
      operationId: createUsersWithListInput
      requestBody:
        description: List of user object
        content:
          '*/*':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/User'
        required: true
      responses:
        default:
          description: successful operation
          content: {}
      x-codegen-request-body-name: body
  /user/login:
    get:
      tags:
      - user
      summary: Logs user into the system
      operationId: loginUser
      parameters:
      - name: username
        in: query
        description: The user name for login
        required: true
        schema:
          type: string
      - name: password
        in: query
        description: The password for login in clear text
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful operation
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Expires-After:
              description: date in UTC when token expires
              schema:
                type: string
                format: date-time
          content:
            application/xml:
              schema:
                type: string
            application/json:
              schema:
                type: string
        400:
          description: Invalid username/password supplied
          content: {}
  /user/logout:
    get:
      tags:
      - user
      summary: Logs out current logged in user session
      operationId: logoutUser
      responses:
        default:
          description: successful operation
          content: {}
  /user/{username}:
    get:
      tags:
      - user
      summary: Get user by user name
      operationId: getUserByName
      parameters:
      - name: username
        in: path
        description: 'The name that needs to be fetched. Use user1 for testing. '
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: Invalid username supplied
          content: {}
        404:
          description: User not found
          content: {}
    put:
      tags:
      - user
      summary: Updated user
      description: This can only be done by the logged in user.
      operationId: updateUser
      parameters:
      - name: username
        in: path
        description: name that need to be updated
        required: true
        schema:
          type: string
      requestBody:
        description: Updated user object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        400:
          description: Invalid user supplied
          content: {}
        404:
          description: User not found
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - user
      summary: Delete user
      description: This can only be done by the logged in user.
      operationId: deleteUser
      parameters:
      - name: username
        in: path
        description: The name that needs to be deleted
        required: true
        schema:
          type: string
      responses:
        400:
          description: Invalid username supplied
          content: {}
        404:
          description: User not found
          content: {}
components:
  schemas:
    Order:
      type: object
      properties:
        id:
          type: integer
          format: int64
        schoolId:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int32
        shipDate:
          type: string
          format: date-time
        status:
          type: string
          description: Order Status
          enum:
          - placed
          - approved
          - delivered
        complete:
          type: boolean
          default: false
      xml:
        name: Order
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Category
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        password:
          type: string
        phone:
          type: string
        userStatus:
          type: integer
          description: User Status
          format: int32
      xml:
        name: User
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Tag
    school:
      required:
      - name
      - photoUrls
      type: object
      properties:
        id:
          type: integer
          format: int64
        category:
          $ref: '#/components/schemas/Category'
        name:
          type: string
          example: doggie
        photoUrls:
          type: array
          xml:
            name: photoUrl
            wrapped: true
          items:
            type: string
        tags:
          type: array
          xml:
            name: tag
            wrapped: true
          items:
            $ref: '#/components/schemas/Tag'
        status:
          type: string
          description: school status in the room
          enum:
          - available
          - pending
          - sold
      xml:
        name: school
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
  securitySchemes:
    schoolroom_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://schoolroom.swagger.io/oauth/dialog
          scopes:
            write:schools: modify schools in your account
            read:schools: read your schools
    api_key:
      type: apiKey
      name: api_key
      in: header
