{% extends "base.html" %} {% load static %} 
{% block title %} 사이트 제작자 - {{ block.super }} {% endblock title %} 
{% block contents %}
<div class="row mt-5">
  <div class="col-lg-4 mx-auto text-center">
    <img
      src="{% static 'jiujitsu.jpg' %}"
      alt="SSAMKO"
      class="rounded-circle"
      height="240px"
      width="240px"
    />

    <div class="row mt-5">
      <p class="mx-auto">
        <a href="http://instagram.com/ssam_ko">
          <img
            src="{% static 'insta_logo.png' %}"
            height="35px"
            alt="Instagram"
          />
          @ssam_ko </a
        ><br /><br />
        <a href="http://youtube.com/c/schoolswat">
          <img
            src="{% static 'youtube_logo.png' %}"
            height="35px"
            alt="Youtube"
          />
          섭섭미디어
        </a>
        <br /><br />
        <a href="http://qr.kakao.com/talk/koNBb4lY2cSYZ2jkMeAI.ir1KO0-">
          <img
            src="{% static 'kakao_logo.png' %}"
            height="35px"
            alt="kakaotalk"
          />
          ssamko
        </a>
        <br /><br />
        <span class="h4">삼양초등학교(충북)</span>
      </p>
    </div>
  </div>
</div>
{% endblock contents %}
