{% extends "base.html" %} {% block nav-home %} active 
{% endblock nav-home %} {% block contents %}
<div class="row mt-5">
  <div class="col-12">
    <h2>Hello {{username|default:"Stranger"}}</h2>
    {% if username %}
    <p>{{request.build_absolute_uri}}comroom?school={{school}}&s_code={{s_code}}</p>
    <a
      href="{{request.build_absolute_uri}}comroom?school={{school}}&s_code={{s_code}}"
      class="btn btn-primary"
      role="button"
      >시간표</a
    >
    <button class="copy btn btn-primary">링크 복사</button>
    <a href="logout/" class="btn btn-secondary" role="button">로그아웃</a>
    {% else %}
    {% if s_code %}
    <a
      href="{{request.build_absolute_uri}}comroom?school={{school}}&s_code={{s_code}}"
      class="btn btn-primary"
      role="button"
      >시간표</a
    >
    {% endif %}
    <a href="login/" class="btn btn-primary" role="button">관리자 로그인</a>
    <a href="register/" class="btn btn-primary" role="button">관리자등록</a>

    {% endif %}
    
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <ul>
      <li>현재 테스트오픈입니다. 마음껏 등록해보셔도 됩니다</li>
      <li>
        가입없이 테스트하고 싶으신분들은
        <mark>id: icic /pw: 이태원123</mark> 계정을 이용해서 테스트하실 수
        있습니다.
      </li>
      <li>2020.3.19. 모든 데이터 삭제 후 정식 오픈 예정입니다.</li>
      <li>
        로그인 후 보이는 링크를 복사하거나 '링크복사'버튼을 누른 후 학교
        선생님들께 링크만 공유해드리면 됩니다.
      </li>
      <li>이메일을 통한 비밀번호 재설정 기능 개발중</li>
    </ul>
  </div>
</div>
<script>
  document.querySelector(".copy").addEventListener("click", function() {
    var tempElem = document.createElement("textarea");
    tempElem.value = "{{request.build_absolute_uri}}comroom?school={{school}}&s_code={{s_code}}";
    document.body.appendChild(tempElem);

    tempElem.select();
    document.execCommand("copy");
    document.body.removeChild(tempElem);
  });
</script>
{% endblock contents %}
