{% extends "base.html" %} {% block contents %}
<div class="row mt-5">
  <div class="col-12 text-center">
    <h1>학교 관리자 등록</h1>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    {{ error }}
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <form method="POST" action=".">
      {% csrf_token %} {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.label == '교육청' %} {{ field }} {% elif field.label ==
        '학교명' %}
        <div class="input-group mb-3">
          <input
            name="{{ field.name }}"
            type="text"
            class="form-control"
            placeholder="삼양"
            aria-label="{{ field.label }}"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">초등학교</span>
          </div>
        </div>
        {% else %}
        <input
          type="{{ field.field.widget.input_type }}"
          class="form-control"
          id="{{ field.id_for_label }}"
          placeholder="{{ field.label }}"
          name="{{ field.name }}"
        />
        {% if field.label == '이메일' %}
        <small id="emailHelp" class="form-text text-muted"
          >비밀번호 분실시 사용됩니다.</small
        >
        {% endif %} {% endif %}
      </div>
      {% if field.errors %}
      <span style="color: red;">{{ field.errors }}</span>
      {% endif %} {% endfor %}
      <button type="submit" class="btn btn-primary">등록</button>
    </form>
  </div>
</div>
{% endblock contents %}
