{% extends "base.html" %}
{% block title %}
  비밀번호 재설정 | {{ block.super }}
{% endblock title %}
{% block contents %}
  <div class="row mt-5">
      <div class="col-12">
          <p>{{ teacher_name }} 선생님 새 비밀번호를 입력해주세요.</p>
      </div>
  </div>
  <div class="row mt-5">
      <div class="col-12">
          <form action="." method="post">
          {% csrf_token %}
              {{ form }}
              <button type="submit" class='btn btn-primary mt-3'>확인</button>
          </form>
      </div>
  </div>
{% endblock contents %}