{% extends 'base.html' %}
{% block title %}
G-suite 변환 | 컴룸닷넷
{% endblock title %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>G-suite 유저 생성용 csv파일 생성기</h3>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <p class="text-muted">충북 G-suite 관리자 계정으로 사용자 계정을 생성할 때 사용합니다.<br>
            사용방법은 <a href="http://ssamko.tistory.com/17">(충북)G-suite 여러 사용자 계정 생성 쉽게 하기</a> 여기를 참고해주세요😉</p>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="school">학교명</label>
            <input type="text" name="school" id="school" class="form-control" placeholder="학교명 전체를 입력해주세요. 예) 섭섭초등학교"
                required><br>
            <!-- <small class="form-text text-muted">학교명 전체를 입력해주세요. 예) 섭섭초등학교</small> -->
            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" placeholder="학년" aria-label="학년"
                            aria-describedby="grade" name="grade" required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="grade">학년</span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" placeholder="반" aria-label="반"
                            aria-describedby="classN" name="classN" required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="classN">반</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">명렬표</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="roll_file" id="roll_file"
                        aria-describedby="inputGroupFileAddon01" required>
                    <label class="custom-file-label" for="roll_file">파일 업로드 (.xlsx)</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id='gs_convert'>변환</button>
        </form>
    </div>
</div>
{% if result %}
<div class="row mt-5">
    <div class="col-12">
        <a href="{{ result }}" id='gs_download'>파일 받기 </a>

        <!-- <a href="{{ result_url }}">{{ result_url.title }}</a> -->
    </div>
</div>
{% endif %}
{% if errors %}
<div id="somthing_wrong" class="alert alert-danger mt-3" role="alert">
    {{ errors }}
</div>

{% endif %}
<br>
<ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-trww52djon6s" data-ad-width="320"
    data-ad-height="50"></ins>
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
{% endblock contents %}