{% extends 'base.html' %}
{% block title %}
G-suite 변환 | 컴룸닷넷
{% endblock title %}
{% block header %}
<style>
    /* .hide {
          position: absolute !important;
          top: -9999px !important;
          left: -9999px !important;
      } */
</style>
{% endblock header %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>G-suite 유저 생성용 csv파일 생성기</h3>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <p class="text-muted">충북 G-suite 관리자 계정으로 사용자 계정을 생성할 때 사용합니다.<br>
            사용방법은 <a href="http://ssamko.tistory.com/17">(반별)</a> / <a href="https://ssamko.tistory.com/20">(학교전체)</a>
            를 참고해주세요😉<br>
            <!-- 해당 페이지는 데스크탑에서 정상 작동합니다. -->
        </p>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="checkbox" name="whole_school" id="whole_school" hidden>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="tab_class" onclick="javascript:each_class()"
                        ontouchend="each_class()">반별</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="tab_school" onclick="javascript:whole_school()"
                        ontouchend="whole_school()">학교전체</a>
                </li>

            </ul>
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="school-span">학교명</span>
                </div>
                <input type="text" name="school" id="school" class="form-control"
                    placeholder="학교명 전체를 입력해주세요. 예) 섭섭초등학교" aria-label="학교명" aria-describedby="school-span">
            </div>

            <div id="each_class" class="row" style="display: flex;">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" placeholder="학년" aria-label="학년"
                            aria-describedby="grade" name="grade" id="input_grade" required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="grade">학년</span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" placeholder="반" aria-label="반"
                            aria-describedby="classN" name="classN" id="input_classN" required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="classN">반</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">명렬표</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="roll_file" id="roll_file"
                        aria-describedby="inputGroupFileAddon01" required>
                    <label class="custom-file-label" for="roll_file">파일 업로드 (.xlsx)</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id='gs_convert'>변환</button>
        </form>
    </div>
</div>
{% if result %}
<div class="row mt-5">
    <div class="col-12">
        <a href="{{ result }}" id='gs_download'>파일 받기 </a>

        <!-- <a href="{{ result_url }}">{{ result_url.title }}</a> -->
    </div>
</div>
{% endif %}
{% if errors %}
<div id="somthing_wrong" class="alert alert-danger mt-3" role="alert">
    {{ errors }}
</div>

{% endif %}
<br>


<script>
    var for_school = false;
    var $tab_school = $('#tab_school')
    var $tab_class = $('#tab_class')
    function whole_school() {
        document.getElementById('each_class').style.display = 'none'
        document.getElementById('input_grade').removeAttribute("required")
        document.getElementById('input_classN').removeAttribute("required")
        document.getElementById('tab_class').classList.remove('active')
        document.getElementById('tab_school').classList.add('active')
        document.getElementById('whole_school').checked = true;
        for_school = true;
        console.log(for_school)
    }
    function each_class() {
        document.getElementById('each_class').style.display = 'flex'
        document.getElementById('input_grade').setAttribute("required", '')
        document.getElementById('input_classN').setAttribute("required", '')
        document.getElementById('tab_class').classList.add('active')
        document.getElementById('tab_school').classList.remove('active')
        document.getElementById('whole_school').checked = false;
        for_school = false;
        console.log(for_school)
    }
    $tab_class.click(each_class())

</script>
{% endblock contents %}
{% block ads %}
<ins class="kakao_ad_area" style="display:none;" 
data-ad-unit    = "DAN-1h82khgzclbad" 
data-ad-width   = "320" 
data-ad-height  = "100"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
{% endblock ads %}