{% extends 'namu_base.html' %}
{% block title %}
이용안내 | {{ block.super }}
{% endblock title %}
{% block header %}
<style>
    p.brand {
        text-align: center;
        font-size: 1.2em;
    }
</style>
{% endblock header %}
{% block nav-intro %}
active
{% endblock nav-intro %}
{% block contents %}
<p>
    <br>느린나무2호점은 일반 카페가 아닙니다. <br>
    저희는 공간을 대여해드리고 있습니다. <br>
    최소 2시간부터 최대 4시간까지 공간을 빌려드리며, <br>
    사진 촬영, 각종 모임 등 자유롭게 사용하실 수 있고, <br>
    음식물 반입 및 배달도 가능합니다. <br>
    공간을 대여하시면 1인당 음료 한 잔씩을 제공해드리고 있습니다. <br>
</p>
<h5>음식 배달 시 참고사항</h5>
<p>
    (내용) <br>
    <br>
    주소: 대전광역시 중구
</p>
<br>
<p class="brand">
    - 느린나무 2호점 -
</p>
{% endblock contents %}