{% extends 'namu_base.html' %}
{% block title %}
주문하기 | {{ block.super }}
{% endblock title %}
{% block header %}
<style>
    h4,
    td.title,
    .selected {
        text-align: center;
    }

    table {
        margin: auto;
    }

    textarea {
        width: 100%;
    }

    .selected {
        margin-top: 15px;
    }

    input.ea {
        width: 50px;
    }

    #kart {
        text-align: left;
    }
</style>
{% endblock header %}
{% block contents %}
<h4>MENU</h4>
<table>
    <tr>
        <td colspan="2" class="title">Coffee</td>
    </tr>
    <tr>
        <td>아메리카노</td>
        <td>
            <button type="button" class="btn btn-outline-primary btn-sm add" id='americano_ice'>ICE</button>
            <button type="button" class="btn btn-outline-danger btn-sm add" id='americano_hot'>HOT</button>
        </td>
    </tr>
    <tr>
        <td>바닐라 라떼</td>
        <td>
            <button type="button" class="btn btn-outline-primary btn-sm add" id='banila_latte_ice'>ICE</button>
            <button type="button" class="btn btn-outline-danger btn-sm add" id='banila_latte_hot'>HOT</button>
        </td>
    </tr>
    <tr>
        <td>카페라떼</td>
        <td>
            <button type="button" class="btn btn-outline-primary btn-sm add" id='cafelatte_ice'>ICE</button>
            <button type="button" class="btn btn-outline-danger btn-sm add" id='cafelatte_hot'>HOT</button>
        </td>
    </tr>
    <tr>
        <td>카페모카</td>
        <td>
            <button type="button" class="btn btn-outline-primary btn-sm add" id='cafe_mocca_ice'>ICE</button>
            <button type="button" class="btn btn-outline-danger btn-sm add" id='cafe_mocca_hot'>HOT</button>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="title">Latte</td>
    </tr>
    <tr>
        <td>초코라떼</td>
        <td>
            <button type="button" class="btn btn-outline-primary btn-sm add" id='choco_latte_ice'>ICE</button>
            <button type="button" class="btn btn-outline-danger btn-sm add" id='choco_latte_hot'>HOT</button>
        </td>
    </tr>
    <tr>
        <td>녹차라떼</td>
        <td>
            <button type="button" class="btn btn-outline-primary btn-sm add" id='greentea_latte_ice'>ICE</button>
            <button type="button" class="btn btn-outline-danger btn-sm add" id='greentea_latte_hot'>HOT</button>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="title">ADE</td>
    </tr>
    <tr>
        <td>복숭아 아이스티</td>
        <td>
            <button type="button" class="btn btn-outline-primary btn-sm add" id='ice_tea'>추가</button>
        </td>
    </tr>
</table>
<hr>
<div class="selected">
    <h4>주문목록</h4>
    <div class="alert alert-primary" role="alert" id='order_success' style="display: none;">
        주문처리 중 잠시만 기다려주세요 :)
    </div>
    <ul id="kart">
    </ul>
    <h4>요청사항</h4>
    <textarea name="request" id="request" cols="30" rows="4" placeholder="다른 필요한게 있으면 적어주세요 :)"></textarea><br>
    <button class="btn btn-outline-info" id="order">주문</button>
</div>
<form action="/namu/order_msg" method="post" style="display: none;" id="order_form">
    {% csrf_token %}

    <textarea name="order_list" id="order_list" cols="30" rows="10"></textarea>
</form>

<script>
    $('.add').click(function () {
        console.log('btn clicked')
        let menu = $(this).closest("td").prev().text()
        let order_option = $(this).text()
        console.log(order_option)
        if (!order_option.includes("추가")) {
            menu += " " + order_option
        }
        let delete_icon = ' <span class="cancel"><svg class="bi bi-x-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\
            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>\
            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>\
            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>\
          </svg></span>'
        menu = "<li>" + menu + delete_icon + "</li>"
        console.log(menu)
        $('#kart').append(menu)
    })
    $(document).on('click', 'span.cancel', function () {
        console.log("cancel clicked")
        let item = $(this).parent("li")
        item.remove()
    })


    $('#order').click(function () {
        console.log('send order msg')
        let kart = $('#kart').children("li")
        let order_list = []
        jQuery.each(kart, function (i, val) {
            console.log(val.innerHTML)
            order_list.push(val.innerHTML)
        })
        console.log(order_list)
        let msg = order_list.join('\n')
        console.log(msg)
        let extra = $('#request').val()
        if (extra != '') {
            extra_msg = '\n추가)\n' + extra
            msg += extra_msg
        }
        // send post to telegram api
        $('#order_list').val(msg)
        $('#order_success').show()
        $('#kart').empty()
        $('#order_form').submit()

        // redirect to complete page
    })
</script>

{% endblock contents %}